In [1]:
# Importação de bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [3]:
# Carregando o dataset

file_path = r'C:\Users\user\Documents\ab-testing-landing-page\data\web_page_data.csv'
df = pd.read_csv(file_path)

In [5]:
# Exibindo as primeiras linhas para conferência
print('Dataset preview:')
display(df.head())

Dataset preview:

     Page  Time
0  Page A  0.21
1  Page B  2.53
2  Page A  0.35
3  Page B  0.71
4  Page A  0.67