In [1]:
# === 1. Importando bibliotecas ===
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

In [3]:
# Configurar estilo dos gráficos
sns.set(style='whitegrid')

In [6]:
# Carregando os datasets

# Dataset principal do experimento A/B
main_df = pd.read_csv(r'C:\Users\user\Documents\ab-testing-landing-page\data\ab_data.csv')

# Dataset com informações de país
users_df = pd.read_csv(r'C:\Users\user\Documents\ab-testing-landing-page\data\countries.csv')

In [7]:
# Verificação de valores ausentes Dataset principal do experimento A/B
print("Valores ausentes por coluna do Dataset principal:")
print(main_df.isnull().sum())

# Verificação de valores ausentes Dataset com informações de país
print("Valores ausentes por coluna do Dataset de país:")
print(users_df.isnull().sum())

Valores ausentes por coluna do Dataset principal:
user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64
Valores ausentes por coluna do Dataset de país:
user_id    0
country    0
dtype: int64

In [8]:
# Unindo os dados pelo user_id
df = main_df.merge(users_df, on='user_id', how='left')

In [9]:
# Conferindo se o merge funcionou
print("Preview do dataset com países:")
display(df.head())

Preview do dataset com países:

   user_id timestamp      group landing_page  converted country
0   851104   11:48.6    control     old_page          0      US
1   804228   01:45.2    control     old_page          0      US
2   661590   55:06.2  treatment     new_page          0      US
3   853541   28:03.1  treatment     new_page          0      US
4   864975   52:26.2    control     old_page          1      US